<div ng-switch="authenticated">
    <div ng-switch-when="true">
        <h2>Orders</h2>
        <div ng-show="isAuthorized(userRoles.waiter)">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span> Make order
                        </button>
                    </span>
                    <input type="text" class="form-control" ng-model="table"/>
                </div>

                <br/>

                <h3>
                    <span class="glyphicon glyphicon-list"> Menu</span>
                </h3>

                <hr/>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Label</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class = "item" ng-repeat="item in items">
                                <td>{{item.id}}</td>
                                <td>{{item.label}}</td>
                                <td>{{item.price}}</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn btn-default">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        <input type="tel" class="quantity form-control" value="0">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn btn-default">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <hr/>

        <div ng-show="isAuthorized(userRoles.bartender)">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Waiter</th>
                        <th>Table</th>
                        <th>Time remaining</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class = "order" ng-repeat="order in orders">
                        <td>{{order.waiter.firstName}} {{order.waiter.lastName}}</td>
                        <td>{{order.table}}</td>
                        <td>
                            <div ng-switch="{{order.remainingTime}}" style="margin-bottom: -42px;">
                                <div class="alert alert-danger" ng-switch-when="0">
                                    0:00
                                </div>
                                <div ng-switch-default>
                                    {{order.time}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-switch="{{order.status}}" style="margin-bottom: -42px;">
                                <div class="alert alert-warning" ng-switch-when="0">
                                    <span class="glyphicon glyphicon-unchecked"
                                    translate="orders.table.messages.waiting">Waiting</span>
                                </div>
                                <div class="alert alert-info" ng-switch-when="1">
                                    <span class="glyphicon glyphicon-circle-arrow-right"
                                    translate="orders.table.messages.taken">Taken</span>
                                </div>
                                <div class="alert alert-success" ng-switch-when="2">
                                    <span class="glyphicon glyphicon-ok-sign"
                                    translate="orders.table.messages.finished">Finished</span>
                                </div>
                                <div class="alert alert-danger" ng-switch-when="3">
                                    <span class="glyphicon glyphicon-time"
                                    translate="orders.table.messages.overdue">Overdue</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-right"></span> Take order
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
